.App {
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  text-align: center;
}

/* General styling */

.flex {
  display: flex;
}

.justifyContent-c {
  justify-content: center;
}

.alignItems-c {
  align-items: center;
}
